body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #1b2735;
    overflow: hidden;
}

/* hide scroll bar */
body::-webkit-scrollbar {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.row img {
    width: 80%;
    max-width: 300px;
    padding-top: 20px;
}

.rowAbs {
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.rowAbs img {
    width: 80%;
    max-width: 320px;
    height: fit-content;
}


#welcome-message {
    font-size: 1.8em;
    color: #0935FF;
    text-align: center;
}

#vote-message {
    font-size: 1.4em;
    color: #0935FF;
    text-align: center;
}


.spinner {
    width: 100px;
    height: 100px;
    background-image: url('../images/loadingmeteor2.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin 2s linear infinite;
}

.spinner img {
    transform: rotateZ(180deg);
    width: 250px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

#loading-screen, #welcome-screen {
    display: flex;
    position: absolute;
    overflow: hidden;
    z-index: 5002;
    justify-content: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
}

#welcome-screen {
    display: none;
}


h2, h3, label {
    color: aliceblue;
}

.photo-container {
    display: flex;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 15px;
    width: 180px;
    height: 60px;
    margin-bottom: 20px;
    cursor: pointer;
}

.timer {
    font-size: 3.5em;
    font-family: monospace;
    color: #fff;
    text-align: center;
}

.check-icon {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 255, 0, 0.3);
    color: rgb(3, 255, 49);
    border-radius: 50%;
    font-size: 160px;
    display: none;
}


#speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
    column-gap: 50px;
}

.speaker {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
}

#speakers img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

label {
    margin-top: 10px;
}

#submitVote {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 50px;
}

#submitVote:disabled {
    background-color: #918080;
    color: rgb(36, 178, 178);
    cursor: not-allowed;
}


.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

/* Hide the default radio button */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    left: -9999px; /* Move it off-screen */
}

@media screen and (max-width: 600px) {
    .toDel {
        display: none;
    }
}

/* Style for the checked radio button */
input[type="radio"]:checked + .custom-radio {
    background-color: #007bff; /* Green when selected */
    border-color: #007bff;
}

/* Inner dot for checked radio */
input[type="radio"]:checked + .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

/* Add hover effect */
.custom-radio:hover {
    border-color: #777;
}