body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: #1b2735;
}

h2, h3, label {
    color: aliceblue;
}

#speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    padding-bottom: 40px;
    margin: 10px;
    margin-top: 30px;
    text-align: center;
    column-gap: 50px;
}

.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#speakers img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 10px;
    object-fit: cover;
}

label {
    margin-top: 10px;
}

#submitVote {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 50px;
}

#submitVote:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

/* Hide the default radio button */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    left: -9999px; /* Move it off-screen */
}

/* Style for the checked radio button */
input[type="radio"]:checked + .custom-radio {
    background-color: #007bff; /* Green when selected */
    border-color: #007bff;
}

/* Inner dot for checked radio */
input[type="radio"]:checked + .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

/* Add hover effect */
.custom-radio:hover {
    border-color: #777;
}

alert {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}