body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #1b2735;
}

.voters-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    color: aliceblue;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.leaderboard h1 {
    text-align: center;
    margin-bottom: 20px;
}
.leaderboard-table {
    width: 100%;
    border-collapse: collapse;
}
.leaderboard-table th, .leaderboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.leaderboard-table th {
    background-color: #f2f2f2;
}
.leaderboard-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#result {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: row;
    height: 550px;
    width: 550px;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    margin-top: 30px;
}

#speakers {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-bottom: 40px;
    max-width: 600px;
    width: 80%;
    margin: 10px;
    margin-top: 30px;
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.timer {
    font-size: 3.5em;
    font-family: monospace;
    color: #fff;
    text-align: center;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: #0991c2;
}

#entered {
    color: #ff6347; /* You can change this color */
}

.column-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    padding-top: 80px;
    row-gap: 50px;
}

.QrcodeImage {
    width: 400px;
    height: 400px;
}

.logo {
    width: 350px;
    margin: 10px;
}

.row .spk-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 24px;
}